/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background-color: #FFFEF8;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
#en_tete /* Anciennement Header */ {
	display: flex;
	justify-content: space-between;
	margin: 50px;
}
section {
	margin: 50px;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	cursor: pointer;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	margin-bottom: 50px; /* Ajout margin pour compenser l'arrivée du bouton modif */
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
	margin-top: 20px;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	/* suppression margin-bottom 20px ici */
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	/* (Ajout pour uniformiser les images) */
	height: 410px;
	object-fit: cover;
}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;

	cursor: pointer;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}



/* DEBUT PROG GIMON GARBET */



/*Partie index*/

#header_edition {
	
	position: fixed;
	top: 0;
	left: 0;


	width: 100%;
	background-color: black;

	display: none;
	justify-content: center;
	align-items: center;
	gap: 12px;

	height: 60px;
}

#header_edition p, #header_edition i{
	background-color: black;
	color: white;

	font-size: 16px;
	font-weight: 400;
}


#publier_changements{
	background-color: white;
	border-radius: 60px;

	height: 38px;
	font-family: 'Work Sans';
	font-weight: 700;

	padding-left: 23px;
	padding-right: 23px;
	margin-left: 20px;

	cursor: pointer;
}


nav a{
	text-decoration: none;
	color: black;
}

.onglet_actif{
	font-weight: 600;
}



#bouton_modif_pp, #bouton_modif_projet, #bouton_modif_description{
	background-color: #FFFEF8;
	border: none;

	cursor: pointer;
}

#bouton_modif_pp{
	margin-top: 15px;
	margin-left: 9%;
}

.projet_edition{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 31px;

	margin-bottom: 40px;
}



.filtres button {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	color: #1D6154;

	background: white;

	border: 1px solid #1D6154;
	border-radius: 60px;

	padding:  10px;
}

.filtres button:focus{
	color: white;
	background: #1D6154;
}


.filtres{
	width: 100%;
	margin-bottom: 50px;


	display: flex;
	gap: 10px;
	justify-content: center;
}




/* Partie Login */




#login, #login form{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 37px;
}

#login div{
	display: flex;
	flex-direction: column;
	margin-right: 180px;
}

#mdp, #emailco{
	height: 51px;
	width: 200%;
	border: none;
	background: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login input[type="submit"]{
	border: none;
	color: white;
	padding: 10px;
	margin: 0%;
}

#login a{
	color: black;
	margin-bottom: 355px;
}


/* Partie Modale */

/* 1ere Modale */

*{
	box-sizing: border-box;
}


#modalContainer{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.3);

	display: none;
	align-items: center;
	justify-content: center;
}



#modal {
	width: 43%;
	padding: 30px;
	padding-left: 5%;
	padding-right: 5%;
	background: #FFFFFF;
	border-radius: 10px;

	display: none;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}


.div_closeModal {
	padding-top: 20px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

#closeModal {
	border: none;
	background-color: #FFFFFF;
	cursor: pointer;
}

h3{
	font-family: 'Work Sans';
	font-size: 26px;
	font-weight: 400;
	padding-bottom: 20px;
}

.presentation-images{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 5px;
	grid-row-gap: 5px;
	border-bottom: 1px solid #B3B3B3;

	padding-bottom: 50px;
}

.presentation-images figure{
	position: relative;
}







.presentation-images img{
	width: 100%;
	height: 100px;
	object-fit: cover;
}



#boutonEdit {
	border: none;
	background: none;
	padding: 0px 0px 5px 0px;

	cursor: pointer;
}


#boutonMove {
	position: absolute;
	top: 10px;
	right: 30px;
	

	border: none;
	background: black;
	font-size: 11px;
	padding: 5px;
	border-radius: 2px;

	display: none;
	cursor: pointer;
}
	


#boutonMove i{
	background: black;
	color: white;
}



#boutonSuppr {
	position: absolute;
	top: 10px;
	right: 8px;
	

	border: none;
	background: black;
	font-size: 11px;
	padding: 5px;
	border-radius: 2px;

	cursor: pointer;
}

#boutonSuppr i{
	background: black;
	color: white;
}





#ajoutPhoto{ 
	font-family: 'Syne';
	font-weight: 700;
	color: #fff;

	background: #1D6154;

	border: 1px solid #1D6154;
	border-radius: 60px;

	padding:  10px 12% 10px 12%;

	cursor: pointer;
}

.supprimer-galerie{
	border: none;
	color: #D65353;
	background: none;

	cursor: pointer;
}


/* 2eme Modale */


.upload {
	display: flex;
	flex-direction: column;
}

.boutons_top {
	padding-top: 15px;
	display: flex;
	width: 110%;
	justify-content: space-between;
	align-items: center;
}


#backModal{
	border: none;
	background-color: #FFFFFF;
	cursor: pointer;
}


#partieImageAjout {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	background-color: #E8F1F6;
	padding : 30px 0px 30px 0px;
}

#partieImageAjout i{
	color: #B9C5CC;
	background-color: #E8F1F6;
	font-size: 60px;
}

.decoFile {
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	font-family: 'Work Sans';
	min-width: 176px;

	padding: 10px 30px 10px 30px;
	margin-left: 120px;
	margin-right: 120px;

	background-color: #CBD6DC;
	border-radius: 50px;
}



#partieImageAjout p {
	background-color:  #E8F1F6;
}


#choixAjoutTitre, #choixAjoutCateg {
	display: flex;
	flex-direction: column;
	width: 100%;

	gap: 10px;
}

#nouveauTitre, #categoryPhoto {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	height: 51px;
}

#categoryPhoto {
	cursor: pointer;
}

#choixAjoutCateg{
	border-bottom: 1px solid #B3B3B3;
	padding-bottom: 50px;
}



#btnValider {
	border: none;
	padding: 10px 50px 10px 50px;
}